@page "/provinciadetails"
@page "/provinciadetails/{id:int}"
@inject IProvinciaServices ProvinciaService
@inject NavigationManager NavigationManager
<h1>Provincias </h1>
<EditForm Model="provincia">

    <table class="table">
        <tr>
            <td>Nombre</td>
            <td><input class="form-control col-sm-4" type="text" @bind="@provincia.nombreProvincia" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input class="btn btn-success" type="submit" value="Save" @onclick="saveProvincia" />
                <a href="/provincialist"><input class="btn btn-danger" type="button" value="Cancel" /></a>
            </td>
        </tr>
    </table>

</EditForm>


@code {

    [Parameter]
    public int id { get; set; }

    Provincia provincia = new Provincia();
    private string mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (id != 0)
            {
                provincia = await ProvinciaService.getProvinciaDetails(id);
            }
        }catch(Exception e)
        {
            throw e;
        }
    }

    protected async Task saveProvincia()
    {

        if (provincia.nombreProvincia == null)
        {
            mensaje = $"No puede haber campos nulos";
        }
        else
        {
            try
            {
                await ProvinciaService.saveProvincia(provincia);
                NavigationManager.NavigateTo("/provincialist");
            }
            catch (Exception e)
            {
                throw e;
            }
        }



    }

}
