@page "/vacunadetails"
@page "/vacunadetails/{id:int}"
@inject NavigationManager NavigationManager
@inject IVacunaServices VacunaService

<h1>Vacuna </h1>
<EditForm Model="vacuna">

    @if (@mensaje != "")
    {
        <div class="alert alert-danger" role="alert">
            @mensaje
        </div>
    }

    <table class="table">
        <tr>
            <td>Nombre</td>
            <td><input class="form-control col-sm-4" type="text" @bind="@vacuna.nombreVacuna" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input class="btn btn-success" type="submit" value="Save" @onclick="saveVacuna" />
                <a href="/vacunalist"><input class="btn btn-danger" type="button" value="Cancel" /></a>
            </td>
        </tr>
    </table>

</EditForm>


@code {
    [Parameter]
    public int id { get; set; }

    Vacuna vacuna = new Vacuna();
    private string mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (id != 0)
            {
                vacuna = await VacunaService.getVacunaDetails(id);
            }
        }catch(Exception e)
        {
            throw e;
        }
    }



    protected async Task saveVacuna()
    {
        if (vacuna.nombreVacuna==null)
        {
            mensaje = $"No puede haber campos nulos";

        }
        else
        {
            try
            {
                await VacunaService.saveVacuna(vacuna);
                NavigationManager.NavigateTo("/vacunalist");
            }
            catch (Exception e)
            {
                throw e;
            }
        }



    }

}
